<!-- Created by: Christian Tapnio
	Date: 10-12-2020
	Spring-Boot Application with SQL Database
 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
	    <div class="nav-wrapper indigo lighten-2">
	      <a href="/" class="brand-logo">Toronto Auto</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      <li><a th:href="@{/logout}">Logout</a></li>
	      </ul>
	    </div>
  	</nav>
<div class="container"><h5>Car List</h5></div>
	<div class="container">
		<br>
		<table>
			<tr>
				<th>ManufacturerID</th>
				<th>Model</th>
				<th>Year</th>
				<th>Color</th>
				<th>Price</th>
			</tr>
			<tr th:each="c:${carList}">
				<td th:text="${c.manufacturerID}">testManufacturerID</td>
				<td th:text="${c.model}">testModel</td>
				<td th:text="${c.year}">testYear</td>
				<td th:text="${c.color}">testColor</td>
				<td th:text="${c.price}">testPrice</td>
				<td class="btn waves-effect waves-light indigo lighten-3"><a th:href="@{/editCar/}+${c.carID}" class="material-icons">edit</a>
			</tr>
		</table>
		<br>
	</div>
	
	<div class="container"><h5>Update Car</h5></div>
	<div class="container">
		<br>
		<form method="post" action="" th:action="@{/updateCar}"
			th:object="${car}">
			<input type="hidden" name="carID" th:field="*{carID}"/>
			<label>Model: </label><input type="text" name="model" th:field="*{model}" required>
			<label>Price: </label><input type="number" name="price" th:field="*{price}" required>
			<button class="btn waves-effect waves-light indigo lighten-3" type="submit" name="action">
					 Update<i class="material-icons right">update</i>
				</button>
		</form>
	</div>
	<a href="/" th:href="@{/}">Back to home page</a>
</body>
</html>