<!-- Christian Tapnio
	991359879
	Assignment 3 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Access Denied</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav>
	    <div class="nav-wrapper indigo lighten-2">
	      <a href="/" class="brand-logo">Toronto Auto</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <!-- <li><a th:href="@{/login}">Login</a></li> -->
	      </ul>
	    </div>
  	</nav>
	<h1>Permission denied</h1>
	<p>
		<a href="/" th:href="@{/}">Back to home page</a>
	</p>
	<p>
		<a href="#" th:href="@{/logout}">Logout</a>
	</p>
</body>
</html>