<!-- Christian Tapnio
	991359879
	Assignment 3 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
</head>
<body>
	<div class="container">
		<h2>Toronto Auto</h2>
	</div>

	<div class="container">
		<table class="striped">
			<tr>
				<th>ManufacturerID</th>
				<th>Model</th>
				<th>Year</th>
				<th>Color</th>
				<th>Price</th>
			</tr>
			<tr th:each="c:${carList}">
				<td th:text="${c.manufacturerID}">testManufacturerID</td>
				<td th:text="${c.model}">testModel</td>
				<td th:text="${c.year}">testYear</td>
				<td th:text="${c.color}">testColor</td>
				<td th:text="${c.price}">testPrice</td>
			</tr>

		</table>
	</div>
	<br>
	<div class="container">
		<a class="waves-effect waves-light indigo lighten-2 btn" href="/user/insert.html">Insert Car</a>
		<a class="waves-effect waves-light indigo lighten-2 btn" th:href="@{/user/update}">Update Car</a>
		<a class="waves-effect waves-light indigo lighten-2 btn" th:href="@{/admin/delete}">Delete Car</a>
	</div>
	<br>
</body>
</html>